* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: black;
  width: 100%;
  height: 35px;
  line-height: 35px;
}

.row .welcome-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-left: 20px;
}

.row .welcome-left i {
  margin-right: 9px;
  color: #FF3115;
  line-height: 35px;
}

.row .welcome-left p {
  color: #fff;
}

.header .top-social-icons {
  text-align: right;
}

.header .top-social-icons .top-icons ul {
  font-size: 13px;
}

.header .top-social-icons .top-icons ul i {
  color: gray;
  margin: 3px;
}

.header .top-social-icons .top-icons ul i:hover {
  color: white;
}

.header .top-social-icons .top-icons span {
  color: #FF3115;
  margin-left: 20px;
  -webkit-transition: all ease 0.5    s;
  transition: all ease 0.5    s;
}

.header .top-social-icons .top-icons span:hover {
  color: #cf1b04;
}

.header-top {
  padding: 25px 0 20px;
  background-color: white;
}

.header-top .info-graduate {
  text-align: center;
}

.header-top .info-gmail {
  font-size: 35px;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .info-gmail i {
  font-size: 35px;
  color: red;
  padding: 0 19px;
}

.header-top .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-top .info-text span {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.header-top .info-text a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}

.header-top .info-text a:hover {
  color: rgba(255, 48, 21, 0.767);
}

.header-top .info-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-top .info-call .info-text-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 5px;
}

.header-top .info-call .call {
  padding: 0 15px;
}

.header-top .info-call span {
  font-weight: bold;
}

.header-top .info-call a {
  text-decoration: none;
  color: black;
}

.header-top .info-call a:hover {
  color: rgba(255, 48, 21, 0.74);
}

.header-top i {
  font-size: 37px;
  color: red;
}

/*  navbar   */
nav .navbar {
  background-color: #212121;
}

nav .navbar li {
  display: inline-block;
  padding-left: 20px;
  list-style: none;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

nav .navbar li .active {
  color: #FF3115;
}

nav .navbar li a {
  text-decoration: none;
  color: #bbb;
  text-transform: uppercase;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  font-weight: 500;
  font-size: 15px;
}

nav .navbar li a:hover {
  color: red;
}

.navbar .navbars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbars .mySidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbars .mySidebar a {
  color: white;
}

.navbar .navbars .mySidebar i {
  background-color: #FF3115;
  padding: 15px;
}

.navbar .navbars .mySidebar i:hover {
  background-color: #ac1b08;
}

.navbar .dropdown {
  position: relative;
  padding: 15px 0;
}

.navbar .dropdown a {
  padding: 0 18px;
}

.navbar .dropdown:hover .dropdown-ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar .dropdown-ul {
  position: absolute;
  top: 48px;
  left: 0px;
  width: 253px;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  z-index: 2;
}

.navbar .dropdown-ul li {
  width: 100%;
}

.navbar .dropdown-ul li a {
  border-bottom: 1px solid #88888850;
  width: 100%;
  display: inline-block;
  padding: 15px 10px;
  text-transform: capitalize;
}

.navbars {
  position: relative;
  width: 100%;
}

.mega:hover .mega-ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mega-ul {
  background: #000;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  padding: 0 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  z-index: 5;
}

.mega-ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mega-ul ul li a {
  text-transform: capitalize;
  font-size: 1rem;
  border-bottom: 1px solid rgba(235, 228, 228, 0.109);
  padding: 12px;
  display: inline-block;
  text-align: left;
  width: 100%;
  font-size: 15px;
}

.home-slider .slide {
  position: relative;
}

.home-slider .slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.home-slider .slide-content {
  position: absolute;
  top: 250px;
  left: 550px;
  width: 100%;
}

.home-slider .slide-content h1 {
  font-size: 40px;
  color: white;
  line-height: 2;
}

.home-slider .slide-content p {
  color: white;
  font-size: 20px;
  line-height: 1.5;
}

.services .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.services .services-item {
  background-color: #212121;
  padding: 25px 17px 17px;
  -webkit-box-shadow: 0 4px 2px -2px #000000;
          box-shadow: 0 4px 2px -2px #000000;
  z-index: 110;
  position: relative;
  top: -30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services .services-item:hover, .services .services-item:hover .services-icon {
  background-color: red;
  color: white;
}

.services .services-icon {
  height: 130px;
  width: 130px;
  background-color: #212121;
  line-height: 88px;
  text-align: center;
  position: absolute;
  top: -50px;
  z-index: -1;
  font-size: 40px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ff3115;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services .services-content {
  text-align: center;
  margin-top: 4px;
}

.services .services-content .titleh4 {
  position: relative;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
  z-index: 10;
}

.services .services-content p {
  color: #cccccc;
  margin-bottom: 0;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */